<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Transaction Page</title>
    <link rel="stylesheet" href="trans.css" />
  </head>
  <body>
    <div class="container">
      <form action="">
        <div class="row">
          <div class="col">
            <h3 class="title">billing address</h3>

            <div class="inputBox">
              <span>full name :</span>
              <input type="text" placeholder="Ayan Gairola" />
            </div>
            <div class="inputBox">
              <span>email :</span>
              <input type="email" placeholder="example@example.com" />
            </div>
            <div class="inputBox">
              <span>address :</span>
              <input type="text" placeholder="H.no - street - locality" />
            </div>
            <div class="inputBox">
              <span>city :</span>
              <input type="text" placeholder="Delhi" />
            </div>

            <div class="flex">
              <div class="inputBox">
                <span>State :</span>
                <input type="text" placeholder="India" />
              </div>
              <div class="inputBox">
                <span>Pin Code :</span>
                <input type="text" placeholder="110070" />
              </div>
            </div>
          </div>

          <div class="col">
            <h3 class="title">Payment</h3>

            <div class="inputBox">
              <span>cards accepted :</span>
              <img src="card_img.png" alt="" />
            </div>
            <div class="inputBox">
              <span>name on card :</span>
              <input type="text" placeholder="Ayan Gairola" />
            </div>
            <div class="inputBox">
              <span>Card Number :</span>
              <input type="number" placeholder="1111-2222-3333-4444" />
            </div>
            <div class="inputBox">
              <span>exp month :</span>
              <input type="text" placeholder="January" />
            </div>

            <div class="flex">
              <div class="inputBox">
                <span>exp year :</span>
                <input type="number" placeholder="2022" />
              </div>
              <div class="inputBox">
                <span>CVV :</span>
                <input type="password" placeholder="123" />
              </div>
            </div>
          </div>
        </div>

        <a href="paymentDone.html" class="submit-btn">Proceed to Checkout</a>
      </form>
    </div>
  </body>
</html>
